body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#wrap {
    margin: auto;
    width: 80%;
    border-radius: 20px;
    
}

#bookshelf {
    margin: auto;
    width: 100%;
    height: 220px;
    padding: 5px;
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

div.bookframe {
    margin: 0 10px;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

div.bookframe > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.bookframe > div a {
    font-size: 12px;
    line-height: 14px;
}

div.bookframe:hover {
    transform: scale(1.05);
}

input[type="radio"].book {
    display: none;
}

input[type="radio"].book + div {
    position: absolute;
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    background: #000000;
    color: #FFFFFF;
    font-size: 30px;
    min-height: 1px;
    max-height: 10000px;
    line-height: 30px;
    top: 250px;
    left: calc(50% - 200px);
    margin: 0;
    display: none;
    border: 2px solid red;
    box-sizing: border-box;
}

input[type="radio"].book + div > span {
    font-size: 65%;
    display: inline;
}

input[type="radio"]:checked.book + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    position: relative;
}

.label label {
    position: relative;
    z-index: 2;
    width: 20px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
}

.label div {
    position: absolute;
    box-sizing: border-box;
    line-height: 45px;
    z-index: 1;
    width: 200px;
    height: 50px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    top: 180px;
    left: calc(50% - 25px);
}

#current-book-info {
    text-align: center;
    padding: 20px;
}


  
  .scroll-indicator {
    width: 20%;
    height: 20px;
    background-color: #f0f0f0;
    position: relative;
    align-self: center;
    cursor: pointer;
  }
  
  .scroll-handle {
    width: 20%;
    height: 100%;
    background-color: #b30000;
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
  }

  .book-info-card {
    margin-top: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    background: #ffffff;
    width: 30%;
    align-self: center;
  }

  

  #book-info-edit-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  
  .save-button, .cancel-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}