.title-background {
    background-color: grey;
    color: #000;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme .card {
    background-color: #444;
    color: #fff;
}
